/** Solamente se puede modificar este fichero! Usa con astucia los selectores para aplicar las propiedades CSS adecuadas dependiendo del caso  */

/** Ejemplo: Si quisiera pintar el h1 de rojo pondría */

/* h1 {
    color: red;
} */

.published-date{
    color: #F77D00;
}
.header .site-header__body{
    background:transparent;
}
.site-header .site-header__body  {
    background-color: rgb(132, 0, 197);
    background: transparent;
}
.wysiwyg
{
    text-align: center;
}
.global-social .container{
    background-color: yellow;
    margin: 0 auto;
}
